* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffafcc;
  text-align: center;
}
h1 {
  font-size: 2.6rem;
  margin-top: 40px;
  color: black;
}
.containar {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 0.9rem;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0,0.1);
  font-size: 9vmin;
  color: #ca1765;
  background-color: rgb(37, 219, 219);
  cursor: pointer;
  color: rgb(219, 69, 192);
}
#reset-btn {
  background: linear-gradient(to right, #ea5b4f, #e544c2);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 9px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-style: unset;
  margin-bottom: 20px;
}

#reset-btn :hover {
  background: linear-gradient(to right, #66a3ff, #005bb5);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

#reset-btn :active {
  transform: translateY(55px);
}

#new-btn {
  background: linear-gradient(to right, #ea5b4f, #e544c2);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 9px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-style: unset;
  margin-top: 40px;
}

#new-btn :hover {
  background: linear-gradient(to right, #66a3ff, #005bb5);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

#new-btn :active {
  transform: translateY(55px);
}
.msg {
  color: rgb(229, 229, 84);
  font-size: 5rem;
}
.msg-container {
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}
